In [6]:
w=[1,3,4,7,8,9,0]
for f in w:
    if f>5:
        print(f)

7
8
9

In [8]:
w=[1,3,4,7,8,9,0]
for f in w:
    if f%2==0:
        print(f)

4
8
0

In [11]:
# extract ele between 3 and 7
w=[2,3,4,5,6,7,8,9,9,0]
for f in w:
    if f>3 and f<7:
        print(f)

4
5
6

In [14]:
# calculate the square of even elemnts
w=[2,3,4,5,6,7,8,9,9,10,12,16]
for f in w:
    if f%2==0:
        print("{} square is {}".format(f,f**2))

2 square is 4
4 square is 16
6 square is 36
8 square is 64
10 square is 100
12 square is 144
16 square is 256

In [19]:
name=["rohan","abhiniza","robin","karan","aman","pankaj","aastha"]
# print those name which start with a
for w in name:
    if w[0]=="a":
            print(w)

abhiniza
aman
aastha

In [20]:
for w in name:
    if w[0]=="a" and w[-1]=="a":
        print(w)

abhiniza
aastha

In [23]:
for w in name:
    print(w[0:4])

roha
abhi
robi
kara
aman
pank
aast

In [30]:
# print all leap years
year=[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]
for i in year:
    if i%4==0 and i%100!=0 or i%400==0:
        print(i)

2000
2004
2008

In [42]:
# second highest ele
s=[4,7,4,5,6,9,2,1,9,20,20]
n=0
for i in s:
    if i>n and i<max(s):
        n=i
print(n)

9

In [43]:
# second highest ele
s=[4,7,4,5,6,9,2,1,9,20,20]
s.sort()
index = -2
for i in s:
    if s[index] == max(s):
        index-=1
print(s[index])

9

In [1]:
s="hello how are you i am fibe what about you"
for i in s.split():
    print(i)

hello
how
are
you
i
am
fibe
what
about
you

In [11]:
count=0
for i in s.split():
  if i[0]=="h":
      count+=1
print(count)

2

In [ ]:
range(start,stop,step)
range(0,10)

In [13]:
s="123456"
for j in range(len(s)):
   print(j)

0
1
2
3
4
5

In [16]:
for i in range(0,len(s),2):
    print(i)

0
2
4

In [18]:
# print all nos between 10 and 50
for j in range(10,51,1):
    if(j%2==0):
       print(j)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [25]:
for j in range(10,100,1):
    if(j%5==0 and j%10!=0):
        print(j)

15
25
35
45
55
65
75
85
95

In [27]:
for j in range(1,11):
    print("2 * {} = {}".format(j,2*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [28]:
# interview question
# create 2 list and add even and odd digit in both list between 10 to 50
l1=[]
l2=[]
for i in range(10,51):
    if i%2==0:
        l1.append(i)
    elif i%2!=0:
        l2.append(i)
print(l1)
print(l2)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [31]:
for i in range(1,5):
    print("* "*i)

*
* *
* * *
* * * *

In [32]:
for i in range(4):
    print("*"*4)

****
****
****
****

In [1]:
for i in range(6,0,-1):
    print(i*"*")

******
*****
****
***
**
*

In [2]:
for i in range(5):
    print("*",end="")

*****

In [6]:
f=[1,2]
h=[9,10,11,12,13]
for i in f:
    for j in h:
        print(j*i)

9
10
11
12
13
18
20
22
24
26

In [8]:
f=[1,2,3,4,5,6]
for i in f:
    for j in f:
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [11]:
for i in range(1,6):
    for j in range(1,6):
        if j>=6-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [23]:
for i in range(1,6):
    for j in range(1,6):
      if j>=i:
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [24]:
for i in range(1,5):
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [25]:
for i in range(4,0,-1):
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [13]:
# create 2 list name them square and cube and add perfect square
# between 1 and 200 in square list same with cube
square=[]
cubes=[]
for i in range(1,200):
    sqr=i**2
    if sqr>=1 and sqr<=200:
        square.append(sqr)
    cube=i**3
    if cube>=1 and cube<=200:
        cubes.append(cube)
print(square)
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
[1, 8, 27, 64, 125]

In [16]:
# print all names from the list with the no.of char
l1=["akanksha","archit","aryan","kanka","lomesh","tushar","vinit"]
for i in l1:
    count=0
    for j in i:
        count+=1
    print("{} : {}".format(i,count))

akanksha : 8
archit : 6
aryan : 5
kanka : 5
lomesh : 6
tushar : 6
vinit : 5

In [26]:
# count the occurrence of each word
st1="""what is sql and why is it important in data science and explain the difference between a database and a table"""
for i in st1.split():
    count=0
    word=i
    for j in st1.split():
      if word==j:
        count+=1
    print("{} : {}".format(word,count))

what : 1
is : 2
sql : 1
and : 3
why : 1
is : 2
it : 1
important : 1
in : 1
data : 1
science : 1
and : 3
explain : 1
the : 1
difference : 1
between : 1
a : 2
database : 1
and : 3
a : 2
table : 1

In [28]:
d={}
for i in st1.split():
    if i not in d:
        d[i]=1
    else:
        d[i]+1
d

{'what': 1,
 'is': 1,
 'sql': 1,
 'and': 1,
 'why': 1,
 'it': 1,
 'important': 1,
 'in': 1,
 'data': 1,
 'science': 1,
 'explain': 1,
 'the': 1,
 'difference': 1,
 'between': 1,
 'a': 1,
 'database': 1,
 'table': 1}

In [30]:
for i in st1.split():
    print(i,st1.count(i))

what 1
is 2
sql 1
and 3
why 1
is 2
it 1
important 1
in 2
data 2
science 1
and 3
explain 1
the 1
difference 1
between 1
a 14
database 1
and 3
a 14
table 1

In [34]:
# print the longest name from the list
names=["akanksha","archit","aryan","vidhi"]
n=" "
for i in names:
    if(len(i)>len(n)):
     n=i
print(n)

akanksha